.explanation {
    width: 60%;
}

img {
    width: 100%;
}

.image {
    width: 20%;
    margin: 20px;
}

div {
    display: inline-block;
}

:host ::ng-deep {
    display: flex;
    background-color: white;
}

div.inner {
    margin-top: 1%;
    text-align: center;
}