<div class="image">
    <img src="/assets/img/cooking.jpg">
</div>

<div class="explanation" class="inner">
    <div class="inner">
        <p>
            Welcome to the perfect app when you're feeling hungry!
        </p>
        <p>
            You can choose the ingredients present in your fridge and request a list of recipes from them.
            If your fridge is as empty as your stomach, don't panic! It is also possible to search for the nearest restaurants to your home for a good meal.
        </p>
        <p>
            No need to waste time looking for what to prepare, FellingPeckish does it for you!
        </p>
    </div>
</div>

<div class="image">
    <img src="/assets/img/restaurant.jpg">
</div>