<div class="login-wrapper">

    <mat-card class="box">
      <div class="content">
        <mat-card-header>
          <!-- TODO: Use fr.json-->
          <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <form class="form" [formGroup]="newUser">
          <mat-card-content>
            <mat-form-field>
              <input matInput placeholder="Email address" formControlName="email">
            </mat-form-field>
            <small *ngIf="newUser.controls.email.status === 'INVALID'" class="text-danger">{{newUser.controls.email.getError('emailFormat')}}</small>
    
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" type="password">
            </mat-form-field>
            <small *ngIf="newUser.controls.password.status === 'INVALID'" class="text-danger">{{newUser.controls.password.getError('genericError')}}</small>

            <mat-form-field>
                <input matInput placeholder="Confirm your password" formControlName="passwordConfirmation" type="password">
            </mat-form-field>
            <small *ngIf="newUser.controls.password.status === 'INVALID'" class="text-danger">{{newUser.controls.password.getError('genericError')}}</small>

          </mat-card-content>
          <!-- TODO: Use fr.json-->
          <button mat-stroked-button color="primary" class="btn-block" (click)="onClickRegister()">Register</button>
        </form>
      </div>
      <!-- TODO: Use fr.json-->
      <button mat-fab color="primary" class="swap-button" routerLink="/auth/logIn" routerLinkActive="active">Log In</button>
    </mat-card>  
    
</div>