<span class="spaced" *ngFor="let recipe of recipes">
    <app-short-recipe [recipe]="recipe"></app-short-recipe>
    <button mat-icon-button [ngClass]="{'favorite': recipe.isFavorite, 'not-favorite': !recipe.isFavorite}" (click)="favClickCallback(recipe)">
      <mat-icon>favorite</mat-icon>
    </button>
</span>