<div class="header">
    <!-- TODO: Use fr.json-->
    <div *ngFor="let option of navOptions | keyvalue">
        <button mat-flat-button [routerLink]="option.value" routerLinkActive="active">{{option.key}}</button>
    </div>
</div>

<router-outlet></router-outlet>
  
