@import '~@angular/material/theming';

$headerColor: darken(crimson, 20);

.header, .header * {
    background-color: crimson;
}

.header {
    border-top: groove;
    border-color: black;
    div {
        display: inline-block;
        
        button {
            font-size: larger;
            color: white;
        }
    }
} 

button.mat-flat-button:hover {
    background-color: lighten($headerColor, $amount: 40);
}