<!--Card-->
<mdb-card class="wraper" cascade="true" narrower="true">

    <!--Card image-->
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img [src]="restaurant.thumb ? restaurant.thumb : defaultPicture">

            <a [href]="restaurant.url"></a>
        </mdb-card-img>
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <!--/Card image-->

    <mdb-card-body cascade="true" class="text-center body-card">
        <!--Title-->
        <h4 class="card-title">
            <a [href]="restaurant.url" class="pink-text">
                {{ restaurant.name }}
            </a>
        </h4>

        <!--Text-->
        <mdb-card-text>
            <p>
                {{ restaurant.timings }}
            </p>
            <p>
                {{ restaurant.location.address }}, {{ restaurant.location.zipcode }}, {{ restaurant.location.city }}
            </p>
        </mdb-card-text>

        <!--Card content-->
        <h6>
            <mdb-icon fas icon="tags"></mdb-icon> {{ restaurant.cuisines }}
        </h6>

    </mdb-card-body>
    <!--/.Card content-->

    <!-- Card footer -->
    <mdb-card-footer class="mdb-color indigo text-center">
        <ul class="list-unstyled list-inline font-small mt-3">
            <li class="list-inline-item pr-2 white-text">
                <mdb-icon far icon="credit-card" class="pr-1"></mdb-icon> Price range {{ restaurant.price_range }}
            </li>
            <li class="list-inline-item pr-2 white-text">
                <mdb-icon far icon="star" class="pr-1"></mdb-icon>{{ restaurant.user_rating.aggregate_rating }} - {{ restaurant.user_rating.rating_text }}
            </li>
        </ul>
    </mdb-card-footer>
    <!-- Card footer -->
</mdb-card>
<!--/.Card-->