img {
    width: 30%;
    max-width: 40px;
    max-height: 40px;
}

h2 {
    display: inline-block;
    width: 55%;
    margin-left: 20px;
    font-size: 20px;
}

div {
    display: flex;
    align-items: center;
}