<div class="detail-header">
    <h2>{{recipe.title}}</h2>
    <img [src]="recipe.image">
    <mat-divider></mat-divider>
</div>
<div class="div-error" *ngIf="recipe.missedIngredients && recipe.missedIngredients.length > 0">
    <h3>Be careful, some ingredients are missing :</h3>
    <div class="centered-div" *ngFor="let ingredient of recipe.missedIngredients">
        <app-detailed-ingredient [ingredient]="ingredient"></app-detailed-ingredient>
    </div>
    <mat-divider></mat-divider>
</div>
<div *ngIf="recipe.usedIngredients && recipe.usedIngredients.length > 0">
    <h3>List of required ingredients: </h3>
    <div class="centered-div" *ngFor="let ingredient of recipe.usedIngredients">
        <app-detailed-ingredient [ingredient]="ingredient"></app-detailed-ingredient>
    </div>
</div>

