.login-wrapper {
    background-image:url('/assets/img/hands-up.jpeg');
    background-size: contain;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.login-wrapper .form {
    min-width:100%;
    max-width:300px;
    width:100%;
}

.login-wrapper {
    .btn-block, mat-form-field { 
        width:100%;
    }
}

.login-wrapper div mat-card-header {
    text-align: center;
    display: block;
    font-weight: 700;
}

.login-wrapper div mat-card-header mat-card-title { 
    font-size:30px;
    margin:0;
}

.login-wrapper .mat-card div.content { 
    padding: 30px 50px 40px;
}

.login-wrapper .mat-stroked-button {
    border:1px solid currentColor;
    line-height:54px;
    margin-bottom: 10%;
}

.swap-button {
    float: right;
    background-color:#A4A4A4;
    width: auto;
    height: auto;
    padding: 0px 4px;
}