<div class="login-wrapper">

    <mat-card class="box">
      <div class="content">
        <mat-card-header>
          <!-- TODO: Use fr.json-->
          <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <form class="form" [formGroup]="user">
          <mat-card-content>
            <small *ngIf="user.controls.email.status === 'INVALID'" class="text-danger">{{user.controls.email.getError('genericError')}}</small>

            <mat-form-field>
              <input matInput placeholder="Email address" formControlName="email" autofocus>
            </mat-form-field>
    
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" type="password">
            </mat-form-field>
          </mat-card-content>
          <!-- TODO: Use fr.json-->
          <button mat-stroked-button color="primary" class="btn-block" (click)="onClickLogin()">Log in</button>
        </form>
      </div>
      <!-- TODO: Use fr.json-->
      <button mat-fab color="primary" class="swap-button" routerLink="/auth/register" routerLinkActive="active">Register</button>
    </mat-card>  
</div>