<mat-accordion class="header-recipe">
    <mat-expansion-panel *ngFor="let recipe of recipes; let i = index" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
      <mat-expansion-panel-header>
        <span class="spaced">
          <app-short-recipe [recipe]="recipe"></app-short-recipe>
          <button mat-icon-button [ngClass]="{'favorite': recipe.isFavorite, 'not-favorite': !recipe.isFavorite}" (click)="favClickCallback(recipe)">
            <mat-icon>favorite</mat-icon>
          </button>
        </span>
      </mat-expansion-panel-header>

      <app-detailed-recipe [recipe]="recipe"></app-detailed-recipe>
      
      <mat-action-row>
        <button mat-button color="primary" class="detail" (click)="seeMoreCallback(recipe)">See more</button>
        <button *ngIf="i > 0" mat-button color="warn" (click)="setStep(i-1)">Previous</button>
        <button *ngIf="i < recipes.length - 1" mat-button color="primary" (click)="setStep(i+1)">Next</button>
      </mat-action-row>
    </mat-expansion-panel>  
</mat-accordion>