.mat-list-item {
    margin-bottom: 20px;
}

span.spaced {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.favorite {
    color: crimson;
}

.not-favorite {
    color: black;
}

.detail {
    text-decoration: underline;
}