<!-- TODO: use fr.json -->
<h1 class="mat-display-1"><mdb-icon fas icon="star"></mdb-icon> Your favorites</h1>
<app-list-short-recipes [recipes]="recipes" [favClickCallback]="onDeleteFav.bind(this)"></app-list-short-recipes>