<div class="detail-header">
    <h2>{{recipe.title}}</h2>
    <img [src]="recipe.image">
    <mat-divider></mat-divider>
</div>

<div *ngIf="recipe.usedIngredients && recipe.usedIngredients.length > 0">
    <div *ngFor="let step of steps.steps">
        <h3>Step {{step.number}} :</h3>
        <div class="ingredient" *ngFor="let ingredient of step.ingredients">
            <app-detailed-ingredient [ingredient]="ingredient"></app-detailed-ingredient>
        </div>
        <p>{{step.step | stringReturnWhenDots}}</p>
        <mat-divider></mat-divider>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCloseClick()">Close</button>
</div>