.detail-header, .ingredient {
    text-align: center;
}

img {
    border-radius: 100%;
}

.ingredient {
    display: flex;
    justify-content: center;
}

p {
    white-space: pre-line;
}