<mat-drawer-container autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <!-- TODO: Use fr.json-->
    <button mat-stroked-button routerLink="/atHome" routerLinkActive="active" color="primary"><mdb-icon fas icon="home"></mdb-icon> Stay home</button>
    <!-- TODO: Use fr.json-->
    <button mat-stroked-button routerLink="/outside" routerLinkActive="active" color="primary"><mdb-icon fas icon="store"></mdb-icon> Leave home</button>
    <div *ngIf="tokenExists()">
      <button mat-stroked-button type="button" (click)="logout()" color="primary"><mdb-icon fas icon="sign-out-alt"></mdb-icon> Logout</button>
    </div>
    
  </mat-drawer>

  <div class="content">
    <mat-toolbar class="head" color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <!-- TODO: Use fr.json-->
      <span><mdb-icon fas icon="apple-alt"> </mdb-icon>  Feeling Peckish ?</span>
    </mat-toolbar>
    
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </div>
  
</mat-drawer-container>