.content {
    width: 100%;
    height: 100%;
}

.sidenav {
    padding: 20px;
    width: 20%;

    button {
        width: 100%;
        display: block;
        margin-bottom: 15px;
    }
}

.separator {
background-color: #ddd;
border-top: 1px solid #bbb;
text-align: center;
height: 30px;
}


