<mat-list>
    <h3 class="mat-h1">{{title}}</h3>
    <mat-list-item *ngFor="let ingredient of ingredients; let i = index">
        <app-short-ingredient [ingredient]="ingredient"></app-short-ingredient>
        <button mat-fab (click)="deletionCallback(i)">
            <mat-icon>remove</mat-icon>
        </button>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>
