<!-- TODO: Use fr.json -->
<h1 class="mat-display-1">What do you think about those recipes?</h1>
<app-list-detailed-recipes [recipes]="recipes" 
    [favClickCallback]="updateFavorite.bind(this)" 
    [seeMoreCallback]="seeMore.bind(this)">
</app-list-detailed-recipes>