<!-- TODO: Use fr.json-->
<h1 class="mat-display-1"><mdb-icon fas icon="home"></mdb-icon> It's time to indicate what's in your fridge and in your pantry !</h1>

<mat-form-field>
    <input type="text" matInput [matAutocomplete]="auto" (input)="searchIngredients($event.target.value)" placeholder="Type your ingredients here...">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
    <mat-option *ngFor="let ingredient of autocompleteIngredients" [value]="ingredient" (click)="onAddIngredient(ingredient)">
        <app-short-ingredient [ingredient]="ingredient"></app-short-ingredient>
    </mat-option>
</mat-autocomplete>

<!-- TODO: Use fr.json-->
<button mat-flat-button class="generation-button"
        color="accent" 
        routerLink="/atHome/generate" 
        routerLinkActive="active">
        Give me my recipes !
</button>

<app-list-short-ingredients *ngIf="userIngredients && userIngredients.length > 0" 
                            [ingredients]="userIngredients" 
                            [title]="listTitle"
                            [deletion]="true"
                            [deletionCallback]="onDeleteIngredient.bind(this)">
</app-list-short-ingredients>

<div>
    <img *ngIf="!userIngredients || userIngredients.length == 0" src="/assets/img/empty_fridge.jpg">
    <img *ngIf="userIngredients && userIngredients.length > 0" src="/assets/img/food_basket.png">
</div>

