.mat-form-field {
    width: 100%;
}

h1 {
    margin-top: 2%;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

.generation-button {
    margin-bottom: 2%;
}

img {
    max-width: 40%;
}