/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming'; 
html, body { 
    height: 100%;
    width: 100%;
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
    h3, h4, p, span {
        font-weight: 400;
    }
    
}

footer {
    background-color: #3F51B5;
    border-top: 1px solid #bbb;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: white;

}

.footer-text{
    vertical-align: center;
}