<div class="container">
    <div class="center">
        <h3 class="mat-display-1"><mdb-icon fas icon="store"></mdb-icon> Select your city and find the closest restaurants</h3>
    </div>

    <mat-form-field>
        <input type="text" matInput [matAutocomplete]="auto" (input)="searchCities($event.target.value)"
            placeholder="Type your city name here...">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
        <mat-option *ngFor="let city of autocompleteCities" [value]="city" (click)="onChooseCity(city)">
            <app-short-city [city]="city"></app-short-city>
        </mat-option>
    </mat-autocomplete>


    <div *ngIf="!restaurants || restaurants.length == 0" class="center">
        <img src="/assets/img/restaurant.jpg" class="default-img">
    </div>

    <div class="row">
        <div class="col-md-3" *ngFor="let res of restaurants; let i = index">
            <app-detailed-restaurant [restaurant]="res.restaurant"></app-detailed-restaurant>
        </div>
    </div>

    <div *ngIf="hasMore" class="center">
        <button mdbBtn type="button" color="pink" mdbWavesEffect (click)="loadMoreRestaurants()">Load more</button>
    </div>

</div>